name: Test

on:
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Cache cargo registry
      uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    
    - name: Build test
      run: cargo build --release --verbose

    - name: Test
      run: cargo test --verbose

    - name: Lint with Clippy
      run: cargo clippy --all-targets --all-features
    
    - name: Format with Rustfmt
      run: cargo fmt --all --check

  automerge:
    runs-on: ubuntu-latest
    needs: test
    if: github.event.pull_request.user.id == 29139614 # dependabot
    permissions:
      contents: write
      pull-requests: write
    steps:
    - name: automerge
      uses: pascalgn/automerge-action@7961b8b5eec56cc088c140b56d864285eabd3f67 # v0.16.4
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        MERGE_LABELS: "automerge"
